/* General Styles */
body {
    background-color: #1D2C20;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Profile Container */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Profile Card */
.profile-card {
    background-color: #2b3a3b;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    padding: 2.5rem;
    width: 50%;
    max-width: 640px;
    text-align: center;
}

.profile-header {
    margin-bottom: 1.875rem;
}

.profile-picture {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.25rem;
    border: 0.1875rem solid white;
}

.profile-header h1 {
    font-size: 2.25rem;
    margin-bottom: 0.625rem;
}

.profile-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.profile-content ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.875rem;
}

.profile-content li {
    font-size: 1.125rem;
    background-color: #3c4a4b;
    padding: 0.625rem;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
}

/* Profile Footer */
.profile-footer {
    margin-top: 1.875rem;
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}

.return-button,
.edit-profile-button,
.favorites-button {
    background-color: transparent;
    color: white;
    padding: 0.9375rem 1.875rem;
    border: 0.125rem solid #407342;
    border-radius: 1.5625rem;
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.return-button:hover,
.edit-profile-button:hover,
.favorites-button:hover {
    background-color: #407342;
    color: white;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .profile-card {
        width: 90%;
        padding: 1.25rem;
    }

    .profile-footer {
        flex-direction: column;
        gap: 1.25rem;
    }
}
